.header {
    margin: 0 auto;
    padding: 0;
    height: 50px;
    width: 1200px;
    border-radius: 5px;
    background-color: rgba(101, 41, 41, 0.352);
}

.header_menu_nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    color: black;
    list-style: none;
}

.header_menu_nav-list {
    display: block;
    margin-top: 10px;
    color: black;
}

.header_menu_nav-link {
    padding: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    transition: 250ms;
}

.header_menu_nav-link:hover {
    font-size: 22px;
    color: rgb(255, 255, 255);
}