.spells_name {

    
}

.spells_name_all-person { 
    display: flex;
    flex-wrap: wrap;
}

.spells_name_person {
    
}

.spells_block {
margin: 0;
margin-left: 20px;
}

.spells_level{
    margin: 0;
}

.spells_list {
    margin: 0;
    padding: 0;
    list-style: none;
}