.weapon {
    margin: 0;
    max-width: 678px;
    background-color: rgb(246, 244, 244);
}

.weapon_list_header {
    position: relative;
    overflow: hidden;
    padding: 10px;
    background-color: bisque;
    cursor: pointer;
}

.weapon_list {
    margin: 0;
    padding: 10px 0 10px 10px;
    display: flex;
    list-style: none;
}

.weapon_list_describe {
    margin: 0;
}

.weapon_list_describe:not(:first-child) {
    margin-left: 35px;
}

.weapon_list_describe-name {
    width: 200px;
}

.weapon_list_describe-price {
    width: 100px;
}

.weapon_list_describe-dmg {
    width: 100px;
}

.weapon_list_describe-kick {
    width: 300px;
}